keys/
code/Week02/assets/*.tx*
code/Week03/lucid/node_modules/
code/Week03/lucid/dist/
code/Week03/lucid-ref-script/node_modules/
code/Week03/lucid-ref-script/dist/
code/Week05/lecture/secret.ts

code/week01/
code/week02/
code/week03/
code/week04/
code/week05/
node_modules/
dist/
dist-newstyle/
code/Week05/lecture/secret.ts
code/Week08/tmp/
code/Week08/assets/staking.plutus
